.header
  %section#header.background
    %h1
      CS205 Final Project: Teleporting Parallel MCMC
      %br
      %small
        Laith Alhussein, Nathaniel Burbank, Shawn Pan, Andrew Ross, and Rohan Thavarajah

.col-md-9
  %section#intro
    %h2 Introduction
    = partial 'intro'
    %hr

  %section#theory
    %h2 Background
    %hr

    %section#theory-mcmc
      %h4 Markov-Chain Monte Carlo
      = partial 'mcmc'
      %hr

    %section#theory-rej
      %h4 Rejection Sampling
      = partial 'rej'
      %hr

    %section#theory-tel
      %h4 Teleporting Hybrid
      = partial 'tel'
      %hr

  %section#impl
    %h2 Implementation
    %hr

    %section#impl-ser
      %h4 Serial
      -#= partial 'serial'
      .temporary-spacer
      %hr

    %section#impl-mpi
      %h4 MPI, multi-process, and OpenMP
      -#= partial 'openmpi'
      .temporary-spacer
      %hr

    %section#impl-data
      %h4 Datasets and Distributions
      = partial 'datasets'
      %hr

    %section#impl-conv
      %h4 Convergence
      = partial 'convergence'
      %hr

  %section#results
    %h2 Results
    .temporary-spacer
    %hr

    %section#results-scaling
      %h4 Scaling vs. \(\epsilon\)
      .temporary-spacer
      %hr

    %section#results-odyssey
      %h4 Speedups on Odyssey
      .temporary-spacer
      %hr

  %section#conclusion
    %h2 Conclusion
    %p
      Help me
    %hr

  %section#refs
    %h2 References
    = render_references

.col-md-3
  .sidebar.scrollspy
    %ul.nav#nav

.container
  .col-md-12.footer
    Laith Alhussein, Nathaniel Burbank, Shawn Pan, Andrew Ross, and Rohan Thavarajah. CS205 Spring 2017.
    %br
    = link_to 'GitHub Repository', 'https://github.com/asross/cs205-project'
