.header
  %section#header.background
    %h1
      CS205 Final Project: Teleporting Parallel MCMC
      %br
      %small
        Laith Alhussein, Nathaniel Burbank, Shawn Pan, Andrew Ross, and Rohan Thavarajah

.col-md-9
  %section#intro
    %h2 Introduction
    = partial 'intro'
    %hr

  %section#theory
    %h2 Background
    %hr

    %section#theory-mcmc
      %h4 Markov-Chain Monte Carlo
      = partial 'mcmc'
      = partial 'classic'
      %hr

    %section#theory-rej
      %h4 Rejection Sampling
      = partial 'rej'
      %hr

    %section#theory-tel
      %h4 Teleporting Hybrid
      = partial 'tel'
      %hr

  %section#impl
    %h2 Implementation
    %hr

    %section#impl-mpi
      %h4 Hybrid Strategy
      = partial 'odyscheme'
      %hr

    %section#impl-data
      %h4 Synthetic Dataset
      = partial 'datasets'
      %hr

  %section#results
    %h2 Results
    %hr

    %section#results-whichbest
      %h4 Which Method is Best?
      = partial 'whichbest'
      %hr

    %section#results-scaling
      %h4 Scaling vs. \(\epsilon\)
      = partial 'scaling'
      %hr

    %section#results-odyssey
      %h4 Speedups on Odyssey
      = partial 'odyssey'
      %hr

    %section#results-conv
      %h4 Convergence Details
      = partial 'convergence'
      %hr

  %section#relwork
    %h2 Related Work
    %hr

    %section#relwork-othermethods
      %h4 Other Methods
      = partial 'othmeth'
      %hr

    %section#relwork-sens
      %h4 Application: Noisy Sensors
      = partial 'sensors'
      %hr

    %section#relwork-page
      %h4 Connections to PageRank
      = partial 'pagerank'
      %hr

  %section#conclusion
    %h2 Conclusions
    %hr

    %section#checkbox
      %h4 Checking the Boxes
      = partial 'checkbox'
      %hr

    %section#discussion
      %h4 Discussion and Future Work
      = partial 'discussion'
      %hr

  %section#refs
    %h2 References
    = render_references

.col-md-3
  .sidebar.scrollspy
    %ul.nav#nav

.container
  .col-md-12.footer
    Laith Alhussein, Nathaniel Burbank, Shawn Pan, Andrew Ross, and Rohan Thavarajah. CS205 Spring 2017.
    %br
    = link_to 'GitHub Repository', 'https://github.com/asross/cs205-project'
